/*--------------------------------------------------------------
    Import fonts
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800&display=swap');
/*--------------------------------------------------------------
    Root variables
--------------------------------------------------------------*/
:root {
    /*Color Pallette*/
        /*Color1*/
    --color-1a:#517fa4;
    --color-1b:rgba(81, 115, 129, 0.8);
    --color-1c:rgba(81, 115, 129, 0.6);
    --color-1d:rgba(81, 115, 129, 0.4);
    --color-1e:rgba(81, 115, 129, 0.2);
        /*Color2*/
    --color-2a: rgb(223, 177, 155);
    --color-2b: rgba(223, 177, 155, 0.8);
    --color-2c: rgba(223, 177, 155, 0.6);
    --color-2d: rgba(223, 177, 155, 0.4);
    --color-2e: rgba(223, 177, 155, 0.2);
        /*Color3*/
    --color-3a: rgb(255, 228, 187);
    --color-3b: rgba(255, 228, 187, 0.8);
    --color-3c: rgba(255, 228, 187, 0.6);
    --color-3d: rgba(255, 228, 187, 0.4);
    --color-3e: rgba(255, 228, 187, 0.2);
        /*Color4*/
    --color-4a: rgb(252, 250, 241);
    --color-4b: rgba(252, 250, 241, 0.8);
    --color-4c: rgba(252, 250, 241, 0.6);
    --color-4d: rgba(252, 250, 241, 0.4);
    --color-4e: rgba(252, 250, 241, 0.2);
        /*Color5*/
    --color-5a: rgb(61, 82, 101);
    --color-5b: rgba(61, 82, 101, 0.8);
    --color-5c: rgba(61, 82, 101, 0.6);
    --color-5d: rgba(61, 82, 101, 0.4);
    --color-5e: rgba(61, 82, 101, 0.2);
        /*Whites*/
    --white-1: #fff;
    --white-2: #fbfbfb;
    --white-3: #f2f2f2;
        /*Blacks*/
    --black-1: #454545;
    --black-2: #555;
    --black-3: #696969;
    --black-4: #838383;
    --black-5: #aaa;
        /*Geneal pallete*/
    --danger: #ff4444;
    --danger-dark: #cc0000;    
    --info: #29cae4;
    --info-dark: #20b8d1;
    --light: #c9d4e3;
    --light-dark: #b8c4d6;
    --link: #3e64ff;
    --link-dark: #1d41d1;
    --primary: #5143de;
    --primary-dark: #251f87;
    --success: #00c851;
    --success-dark: #007e33;
    --warning: #ffbb33;
    --warning-dark: #ff8800;
}

/*--------------------------------------------------------------
    General
--------------------------------------------------------------*/
* {
    color: var(--black-1);
    font-family: 'Nunito', sans-serif;
    transition: 0.1s all;
}
html {
    scroll-behavior: smooth !important;
}
body {
    background: #ededed;
    overflow-x: hidden;
}
.display-none { display: none !important;}
.display-block { display: block !important;}
.overflow-hidden { overflow: hidden !important; }
.border-none { border: 0 none !important; }
.bg-none { background: none !important; }
.shadow-none { box-shadow: none !important; }
.cursor-p { cursor: pointer !important; }
.cursor-d { cursor: default !important; }
.cursor-na { cursor: not-allowed !important; }
.uns {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.op-hover1:hover {opacity: 0.7 !important;}
.op-hover2:hover {opacity: 0.5 !important;}
.op-hover3:hover {opacity: 0.4 !important;}
.opacity1 {opacity: 0.1 !important;}
.opacity2 {opacity: 0.2 !important;}
.opacity3 {opacity: 0.3 !important;}
.opacity4 {opacity: 0.4 !important;}
.opacity5 {opacity: 0.5 !important;}
.opacity6 {opacity: 0.6 !important;}
.opacity7 {opacity: 0.7 !important;}
.opacity8 {opacity: 0.8 !important;}
.opacity9 {opacity: 0.9 !important;}
.opacity10 {opacity: 1 !important;}

/*--------------------------------------------------------------
    Scrollbar
--------------------------------------------------------------*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    background-color: #333;
    border: 2px solid #555555;
}

/*--------------------------------------------------------------
    Images
--------------------------------------------------------------*/
.image-container {
    display: flex;
    justify-content: center;
}

/*--------------------------------------------------------------
    Text
--------------------------------------------------------------*/
.w200 { font-weight: 200 !important; }
.w300 { font-weight: 300 !important; }
.w400 { font-weight: 400 !important; }
.w500 { font-weight: 500 !important; }
.w600 { font-weight: 600 !important; }
.w700 { font-weight: 700 !important; }
.w800 { font-weight: 800 !important; }
.w900 { font-weight: 900 !important; }

.italic { font-style: italic !important; }

.ls01{ letter-spacing: .01em; }
.ls02{ letter-spacing: .02em; }
.ls03{ letter-spacing: .03em; }
.ls04{ letter-spacing: .04em; }
.ls05{ letter-spacing: .05em; }
.ls06{ letter-spacing: .06em; }
.ls07{ letter-spacing: .07em; }
.ls08{ letter-spacing: .08em; }
.ls09{ letter-spacing: .09em; }

/*--------------------------------------------------------------
    Buttons
--------------------------------------------------------------*/
.btn i { color: inherit !important; }
.btn-rounded { border-radius: 50px !important; }
.btn-left-rounded {
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
.btn-right-rounded { 
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

/* Buttons By color */
.btn-primary { background-color: var(--primary) !important; }
.btn-primary-dark { background-color: var(--primary-dark) !important; }
.btn-info { background-color: var(--info) !important; }
.btn-info-dark { background-color: var(--info-dark) !important; }
.btn-light { background-color: var(--light) !important; }
.btn-light-dark { background-color: var(--light-dark) !important; }
.btn-success { background-color: var(--success) !important; }
.btn-success-dark { background-color: var(--success-dark) !important; }
.btn-warning { background-color: var(--warning) !important; }
.btn-warning-dark { background-color: var(--warning-dark) !important; }
.btn-danger { background-color: var(--danger) !important; }
.btn-danger-dark { background-color: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Colors
--------------------------------------------------------------*/
    /*Color1*/
.color1a { color: var(--color-1a) !important;}
.color1b { color: var(--color-1b) !important;}
.color1c { color: var(--color-1c) !important;}
.color1d { color: var(--color-1d) !important;}
.color1e { color: var(--color-1e) !important;}
    /*Color2*/
.color2a { color: var(--color-2a) !important;}
.color2b { color: var(--color-2b) !important;}
.color2c { color: var(--color-2c) !important;}
.color2d { color: var(--color-2d) !important;}
.color2e { color: var(--color-2e) !important;}
    /*Color3*/
.color3a { color: var(--color-3a) !important;}
.color3b { color: var(--color-3b) !important;}
.color3c { color: var(--color-3c) !important;}
.color3d { color: var(--color-3d) !important;}
.color3e { color: var(--color-3e) !important;}
    /*Color4*/
.color4a { color: var(--color-4) !important;}
.color4b { color: var(--color-4) !important;}
.color4c { color: var(--color-4) !important;}
.color4d { color: var(--color-4) !important;}
.color4e { color: var(--color-4) !important;}
    /*Color5*/
.color5a { color: var(--color-5a) !important;}
.color5b { color: var(--color-5b) !important;}
.color5c { color: var(--color-5c) !important;}
.color5d { color: var(--color-5d) !important;}
.color5e { color: var(--color-5e) !important;}
    /*White*/
.white1 { color: var(--white-1) !important; }
.white2 { color: var(--white-2) !important; }
.white3 { color: var(--white-3) !important; }
    /*Black*/
.black1 { color: var(--black-1) !important; }
.black2 { color: var(--black-2) !important; }
.black3 { color: var(--black-3) !important; }
.black4 { color: var(--black-4) !important; }
.black5 { color: var(--black-5) !important; }

.info { color: var(--info) !important; }
.info-dark { color: var(--info-dark) !important; }

.light { color: var(--light) !important; }
.light-dark { color: var(--light-dark) !important; }

.link { color: var(--link) !important; }
.link-dark { color: var(--link-dark) !important; }

.primary { color: var(--primary) !important; }
.primary-dark { color: var(--primary-dark) !important; }

.secondary { color: var(--secondary) !important; }
.secondary-dark { color: var(--secondary-dark) !important; }

.success { color: var(--success) !important; }
.success-dark { color: var(--success-dark) !important; }

.warning { color: var(--warning) !important; }
.warning-dark { color: var(--warning-dark) !important; }

.danger { color: var(--danger) !important; }
.danger-dark { color: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Background Colors
--------------------------------------------------------------*/
.bg-color1a { background: var(--color-1a) !important;}
.bg-color1b { background: var(--color-1b) !important;}
.bg-color1c { background: var(--color-1c) !important;}
.bg-color1d { background: var(--color-1d) !important;}
.bg-color1e { background: var(--color-1e) !important;}

.bg-color2a { background: var(--color-2a) !important;}
.bg-color2b { background: var(--color-2b) !important;}
.bg-color2c { background: var(--color-2c) !important;}
.bg-color2d { background: var(--color-2d) !important;}
.bg-color2e { background: var(--color-2e) !important;}

.bg-color3a { background: var(--color-3a) !important;}
.bg-color3b { background: var(--color-3b) !important;}
.bg-color3c { background: var(--color-3c) !important;}
.bg-color3d { background: var(--color-3d) !important;}
.bg-color3e { background: var(--color-3e) !important;}

.bg-color4a { background: var(--color-4a) !important;}
.bg-color4b { background: var(--color-4b) !important;}
.bg-color4c { background: var(--color-4c) !important;}
.bg-color4d { background: var(--color-4d) !important;}
.bg-color4e { background: var(--color-4e) !important;}

.bg-color5a { background: var(--color-5a) !important;}
.bg-color5b { background: var(--color-5b) !important;}
.bg-color5c { background: var(--color-5c) !important;}
.bg-color5d { background: var(--color-5d) !important;}
.bg-color5e { background: var(--color-5e) !important;}

.bg-white1 { background: var(--white-1) !important; }
.bg-white2 { background: var(--white-2) !important; }
.bg-white3 { background: var(--white-3) !important; }

.bg-black1 { background: var(--black-1) !important; }
.bg-black2 { background: var(--black-2) !important; }
.bg-black3 { background: var(--black-3) !important; }

.bg-primary { background: var(--primary) !important; }
.bg-primary-dark { background: var(--primary-dark) !important; }

.bg-info { background: var(--info) !important; }
.bg-info-dark { background: var(--info-dark) !important; }

.bg-light { background: var(--light) !important; }
.bg-light-dark { background: var(--light-dark) !important; }

.bg-success { background: var(--success) !important; }
.bg-success-dark { background: var(--success-dark) !important; }

.bg-warning { background: var(--warning) !important; }
.bg-warning-dark { background: var(--warning-dark) !important; }

.bg-danger { background: var(--danger) !important; }
.bg-danger-dark { background: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Cards
--------------------------------------------------------------*/
.card {
    border: 0 none;
    overflow: hidden !important;
    box-shadow: 0 1px .125em 0 rgba(0,0,0,.15);
}

.card-header {
    border: 0 none;
    background-color: #f3f3f3;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

.card-primary-bottom { border-bottom: 4px solid var(--primary) !important; }
.card-secondary-bottom { border-bottom: 4px solid var(--secondary) !important; }
.card-success-bottom { border-bottom: 4px solid var(--success) !important; }
.card-warning-bottom { border-bottom: 4px solid var(--warning) !important; }
.card-danger-bottom { border-bottom: 4px solid var(--danger) !important; }
.card-info-bottom { border-bottom: 4px solid var(--info) !important; }
.card-link:hover {
    background-color: rgba(255, 255, 255, .6);
}
/*--------------------------------------------------------------
    Forms
--------------------------------------------------------------*/
.form-control::placeholder{
    color: #bbb;
}
.form-rounded {
    border-radius: 50px;
    padding: 0 0 0 20px;
}
.nav-search {
    width: auto;
}

.nav-search .input-group {
    min-width: 400px !important;
}
/*--------------------------------------------------------------
    Notification and messages
--------------------------------------------------------------*/
.alert-fixed {
    position: fixed !important;
    top: 4vh !important;
    right: 1vw !important;
    z-index: 10000;
}

/*--------------------------------------------------------------
    PAGES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    Welcome Page
--------------------------------------------------------------*/
.welcome-wallpaper {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../img/welcome.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.container-full {
    min-height: 100vh;
}

/*--------------------------------------------------------------
    Login & Register page
--------------------------------------------------------------*/
.auth-wallpaper {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../img/auth.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.bg-gradient1 {
    background: rgb(36,57,73);
    background: -moz-linear-gradient(180deg, rgba(36,57,73,0.7) 0%, rgba(155,197,195,0.7) 100%);
    background: -webkit-linear-gradient(180deg, rgba(36,57,73,0.7) 0%, rgba(155,197,195,0.7) 100%);
    background: linear-gradient(180deg, rgba(36,57,73,0.7) 0%, rgba(155,197,195,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#243949",endColorstr="#9bc5c3",GradientType=1);
}
.text-shadow1 {
    text-shadow: 1px 1px 14px rgba(0, 0, 0, 0.4);
}

/*--------------------------------------------------------------
    Admin Dashboard
--------------------------------------------------------------*/
.panel-sidebar {
    min-height: 100vh !important;
    background: #fff;
    box-shadow: 0 .07em .125em 0 rgba(0,0,0,.15) !important;
    padding: 0;
    width: 280px;
    left: 0;
}

@media(max-width: 992px) {
    .panel-sidebar {
        display: none !important;
    }
}

.panel-navbar {
    background: rgba(45, 55, 71, .92);
}

@media(min-width: 992px) {
    .panel-navbar {
        display: none !important;
    }
    #panel-container {
        padding-left: 0px !important;
    }
}

.panel-sidebar * .list-group-item, .panel-sidebar h2 {
    color: var(--black-1);
}

/*Header*/
.panel-header {
    background: #ddd;
    box-shadow: 0 .07em .125em 0 rgba(0,0,0,.15) !important;
}
.panel-header #panel-title {
    font-size: 1.14em;
    color: var(--black-2);
    font-weight: 600;
    letter-spacing: 1px;
}